body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow: hidden;
}

code {
    font-family: 'Roboto', sans-serif;
}

html {
    border: 20px #ed8047 solid;
    height: 100%;
    box-sizing: border-box;
}

#root {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
